<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

<header>
    <% include ../partials/header %>
</header>

<main>
    <div class="jumbotron">
        <h1>Track Details</h1>
        <div>
            <h2><%= track.name %></h2>
            <h4><% track.album.artists.forEach((artist) => { %>
                <%= artist.name %>,
            <% }); %></h4>
            <h5><%= track.album.name %></h5>
        </div>
        <hr />
        <div>
            <%- JSON.stringify(track) -%>
        </div>
    </div>
</main>

<footer>
    <% include ../partials/footer %>
</footer>

</body>
</html>
